<nav class="navbar navbar-expand-lg" style="background-color:#579e75">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Curio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Other Resources
          </a>
          <ul class="dropdown-menu" style="background-color:#579e75">
            <li><a class="dropdown-item" href="">Database</a></li>
            <li><a class="dropdown-item" href="">Questions Forum</a></li>
          </ul>
        </li>
        <li class="nav-item"></li>
          <a class="nav-link active" aria-current="page" href="/aboutus">About Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>